@import "tailwindcss";

@theme {
  --font-primary: "Outfit", sans-serif;
  --color-brightblue: #465FFF;
  --color-darkblue: #1D2939;
  --color-darkgray: #667085;
  --color-lightgray: #E4E7EC;
  --color-mediumgray: #98A2B3;
  --color-gray: #D0D5DD;
  --color-blackblue: #101828;





}